body,
textarea {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
	text-decoration: none;
	outline: none;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
.fontsize14 {
	font-size: 14px;
}
.fontsize16 {
	font-size: 16px;
}
.fontsize18 {
	font-size: 18px;
}
.fontsize20 {
	font-size: 20px;
}
.mybtnsame {
	font-weight: 700 !important;
	padding: 15px 15px !important;
	background: #2cbcb2 !important;
	color: #242021 !important;
	border-radius: 5px !important;
	border: 0px;
	text-transform: uppercase !important;
	font-size: 16px !important;
	-webkit-transition: 0.25s all ease !important;
	-moz-transition: 0.25s all ease !important;
	-ms-transition: 0.25s all ease !important;
	-o-transition: 0.25s all ease !important;
	transition: 0.25s all ease !important;
	text-decoration: none !important;
	outline: none !important;
}
.mybtnsame:hover {
	background: #d44e28 !important;
	color: #fff !important;
}
.mybtnsame1 {
	font-weight: 700 !important;
	padding: 15px 15px !important;
	background: #2cbcb2 !important;
	color: #242021 !important;
	border-radius: 5px !important;
	border: 0px;
	text-transform: uppercase !important;
	font-size: 20px !important;
	-webkit-transition: 0.25s all ease !important;
	-moz-transition: 0.25s all ease !important;
	-ms-transition: 0.25s all ease !important;
	-o-transition: 0.25s all ease !important;
	transition: 0.25s all ease !important;
	text-decoration: none !important;
	outline: none !important;
}
.mybtnsame1:hover {
	background: #d44e28 !important;
	color: #fff !important;
}
.mybtnsame2 {
	font-weight: 500 !important;
	padding: 10px 15px !important;
	background: #d44e28 !important;
	color: #242021 !important;
	border-radius: 5px !important;
	border: 0px;
	text-transform: uppercase !important;
	font-size: 16px !important;
	-webkit-transition: 0.25s all ease !important;
	-moz-transition: 0.25s all ease !important;
	-ms-transition: 0.25s all ease !important;
	-o-transition: 0.25s all ease !important;
	transition: 0.25s all ease !important;
	text-decoration: none !important;
	outline: none !important;
}
.mybtnsame2:hover {
	background: #242021 !important;
	color: #2cbcb2 !important;
}
.mybtnsame span,
.mybtnsame1 span,
.mybtnsame2 span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.generallinks {
	font-size: 16px;
	color: #2cbcb2;
	text-decoration: none !important;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.generallinks:hover {
	color: #d44e28;
}
.nav-link.underlineanimation {
	font-size: 14px;
	color: #2cbcb2;
	text-transform: uppercase;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.nav-link.fontsize14 {
	font-size: 14px;
	color: #2cbcb2;
	text-transform: uppercase;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.dropdown-item {
	font-size: 14px;
	color: #2cbcb2;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.dropdown-item:hover {
	font-size: 14px;
	color: #242021;
	cursor: pointer;
	text-transform: uppercase;
}
.dropdown-item.active {
	font-size: 14px;
	background-color: #f2f4f6;
	color: #242021;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.colorblackish {
	color: #242021;
}
.colororange {
	color: #d44e28;
}
.colorlightblue {
	color: #2cbcb2;
}
.backgroundlightblue {
	background: #2cbcb2 !important;
}
.footerlinks {
	font-size: 18px;
	color: #242021;
	cursor: pointer;
	text-decoration: none !important;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.footerlinks:hover {
	color: #d44e28;
}
.nav-pills {
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.nav-pills .active {
	color: #d44e28 !important;
}
.nav-pills .colorlightblue:hover {
	color: #242021 !important;
}
.react-tel-input .form-control {
	margin-bottom: 1rem !important;
}
.colorblack {
	color: #000000 !important;
}
.input100:focus + .focus-input100 + .symbol-input100 {
	color: #2cbcb2 !important;
}
.coloryellow {
	color: #fde24f !important;
}
.colorwhite {
	color: #ffffff !important;
}
.form-check-input:checked {
	background-color: #2cbcb2 !important;
}
.hamburger--slider.is-active .hamburger-inner,
.hamburger--slider.is-active .hamburger-inner::after {
	background-color: #242021 !important;
}
.bgcolorgreyish {
	background-color: #f2f4f6 !important;
}
.bgcolorwhite {
	background-color: #ffffff !important;
}
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .selected-flag,
.border5px {
	border-radius: 5px !important;
}
.navbar-expand-lg {
	background-color: #ffffff;
	letter-spacing: 1px;
	font-weight: 700;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
}
.navbar-toggler {
	left: 45px;
	top: 22px;
}
.navbar-toggler:focus {
	box-shadow: none;
}
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger--slider .hamburger-inner {
	background-color: #242021;
}
.hamburger:hover,
.hamburger.is-active:hover {
	opacity: 100%;
}
.brandlogo {
	height: 40px;
}
#mydropdownitem {
	box-shadow: 0px 30px 20px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 30px 20px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}
#mydropdownitem a,
#mydropdownitem small {
	padding: 5px 20px;
}
#mydropdownitem a:hover,
#mydropdownitem small:hover {
	background-color: #f2f4f6;
	padding-left: 30px;
}
@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}
@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}
@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}
.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}
.accordion-body {
	color: #242021;
	background-color: #2cbcb2;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.accordion-button:not(.collapsed) {
	color: #2cbcb2;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232cbcb2'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.sticky-bar {
	top: 20px;
}
.accepted {
	color: #00e676;
}
.notaccepted {
	color: #ff1744;
}
.section {
	padding: 50px 0;
}
.features {
	height: 65px;
	width: 65px;
	line-height: 65px;
}
.input100 {
	height: 50px;
	padding: 0 10px 0 51px;
	outline: none;
	background-color: #ffffff;
}
.input100::placeholder,
textarea::placeholder {
	color: #000;
	opacity: 0.7;
}
.symbol-input100 {
	bottom: 0;
	padding-left: 20px;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.symbol-input1000 {
	bottom: 0;
	right: 5%;
	-webkit-transition: 0.25s all ease;
	-moz-transition: 0.25s all ease;
	-ms-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
.client-testi {
	width: auto !important;
}
.client-testi .client-image {
	margin-right: 16px;
	height: 65px;
	width: 65px !important;
}
.client-testi .content:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 0;
	margin-left: 13px;
	border: 8px solid #ffffff;
	transform-origin: 0 0;
	transform: rotate(135deg);
}
.dotcss .slick-active button {
	background-color: #00ebc7;
}
.dotcss button {
	background-color: #fde24f;
	border: none;
	border-radius: 100%;
	color: transparent;
	height: 15px;
	width: 15px;
	margin-right: 5px;
}
.go-top {
	position: fixed;
	z-index: 9999999;
	bottom: 25px;
	right: 25px;
	height: 70px;
	width: 70px;
	outline: 0;
	border: 0px;
	padding: 0px;
	color: #fff;
	background-color: #d44e28;
}
.go-top {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.avatar-md-sm {
	height: 50px;
	width: 50px;
}
.avatar-md-lg {
	height: 75px;
	width: 75px;
}
.loginsvg {
	animation: bounce1 1.5s infinite;
}
@keyframes bounce1 {
	0% {
		transform: translate3d(0px, 0px, 0);
	}
	50% {
		transform: translate3d(0px, -10px, 0);
	}
	100% {
		transform: translate3d(0px, 0px, 0);
	}
}
.cursorpointer {
	cursor: pointer;
}
.topnumberlinks {
	height: 16px;
	width: 16px;
	background: #d44e28;
	font-size: 11px;
	color: #fff;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	border-radius: 50%;
}
.aboutus b {
	color: #00ebc7;
}
.ourteam .col-lg-3 {
	outline: none;
}
.underlineanimation::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 10%;
	width: 80%;
	transition: opacity 300ms, transform 300ms;
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
	border-top: 3px solid;
	margin-left: 0 !important;
	vertical-align: 0 !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
}
.underlineanimation:hover::after {
	transform: scale(1);
}
@media (max-width: 768px) {
	.section {
		padding: 40px 0;
	}
	.brandlogo {
		height: 35px;
	}
}
.animate__animated {
	animation-duration: 1s;
}
.avatar-large {
	height: 140px;
	width: 140px;
}
.react-confirm-alert-body {
	color: #00214d;
	width: 300px;
}
.react-confirm-alert-button-group button {
	background-color: #fde24f;
	color: #00214d;
	font-size: 14px;
	border-radius: 5px;
}
.react-confirm-alert-button-group button:hover {
	background-color: #00ebc7;
}
.custom-file-upload {
	border-radius: 50%;
	cursor: pointer;
}
.img-wrap {
	position: relative;
	width: 125px;
	height: 125px;
	overflow: hidden;
	border-radius: 50%;
}
.img-upload:before {
	content: "\f093";
	font-size: 40px;
	position: absolute;
	padding-top: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	opacity: 0;
	transition: 0.25s all ease;
	background: #d44e28 !important;
}
.img-upload:hover:before {
	opacity: 1;
}
.img-wrap img {
	width: auto;
	height: 100%;
}
.selectdisable {
	user-select: none !important;
}
.list-group-item {
	border-radius: 0px !important;
	border: 2px dotted #cfcfcf;
}
.dropdowndividernav {
	border-top: 2px solid #cfcfcf;
	background-color: #cfcfcf;
}
